# Package files or left-overs
**/*.cson
**/*.exe
**/*.sublime-completions
**/*.sublime-snippet
**/*.tmBundle
**/*.tmCommand
**/*.tmLanguage
**/*.tmPreferences
**/*.tmSnippet
_output

# Package managers
.bundle/
bower_components/
Gemfile.lock
node_modules/
npm-debug.log
Rakefile
vendor/

# Atomizr package
*/*
todo.md